*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}
.card{
  width: 300px;
  height: 430px;
  margin: 0px 15px;
perspective: 1000px;
}
.card-inner{
  width: 100%;
  height: 100%;
position: relative;
transform-style: preserve-3d;
transition: 0.99s;
}
.card:hover .card-inner{
 transform: rotateY(180deg);
}
.card-front, .card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}
.card-front{
  background-color: #141516;
  color: white;
  display: flex;
  align-items: center;
  border: 2px solid #2b2b2b;
  border-radius: 10px;
  justify-content: center;
  font-size: 28px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transform: rotateY(0deg);
}
.card-back{
  color: white;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}


/* --------------------------HOME PAGE--------------------------- */

.home-page{
  background-image: url(./images/work.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.home-page h3{
  text-align: center;
}
.home-page p{
font-family: 18px;
padding: 13px 12px;
}
.home-page button{
background-color: transparent;
color: white;
padding: 10px 10px;
border: 3px solid green;
cursor: pointer;
margin-top: 10px;
}

.home-page button:hover{
  background-color: green;
}

/* -----------------------ABOUT PAGE--------------------------------- */

.about-page{
  align-items: center;
  background: url(./images/images\ \(6\).jpg);
}
.about-page .box1 img{
  width: 100%;
  height: 100%;
  z-index: 1;
}
.about-page p{
  padding-left: 10px;
}
.about-page .box2 img{
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* -----------------CONTACT PAGE ------------------------------------- */

.contact-us{
   background-image: url(./images/work.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 8px 20px;
  background-color: rgb(33, 41, 33);

}
.contact-us h3{
  margin-bottom: 10px;
  color: white;
}
.contact-us input, .contact-us textarea{
  border: 2px solid white;
  background-color: floralwhite;
  outline: none;
  padding: 7px 20px;
  margin: 7px 2px;
  border-radius: 5px;
}
.contact-us button{
  background-color: rgb(132, 167, 67);
  padding: 7px 23px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
  margin-top: 10px;
  color: white;
}